<h1>Logar</h1>
<div class="row">
  <div class="col-md-6 column">
    <%= simple_form_for(:session, url: login_path) do |f| %>
      <%= f.input :email, label: 'E-mail:' %>
      <%= f.input :password, label: 'Senha:' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>