<p id="notice"><%= notice %></p>

<h1>Grupos de uniformes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uniform_piece_groups.each do |uniform_piece_group| %>
      <tr>
        <td><%= uniform_piece_group.name %></td>
        <td><%= link_to 'Editar', edit_uniform_piece_group_path(uniform_piece_group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar novo grupo de uniforme', new_uniform_piece_group_path %>
