<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uniform_piece_group.name %>
</p>

<%= link_to 'Edit', edit_uniform_piece_group_path(@uniform_piece_group) %> |
<%= link_to 'Back', uniform_piece_groups_path %>
