<p id="notice"><%= notice %></p>

<h1>Tipos de uniforme</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uniform_piece_kinds.each do |uniform_piece_kind| %>
      <tr>
        <td><%= uniform_piece_kind.name %></td>
        <td><%= link_to 'Editar', edit_uniform_piece_kind_path(uniform_piece_kind) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar novo tipo de uniforme', new_uniform_piece_kind_path %>
