<h1>Editar funcionário</h1>

<div class="row">
  <div class="col-md-6 column">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Detalhes', @employer %> |
<%= link_to 'Voltar', employers_path %>
