<h1>Nova peça de uniforme</h1>
<div class="row">
  <div class="col-md-6 column">
    <%= render 'form' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 column">
    <%= link_to 'Voltar', uniform_pieces_path %>
  </div>
</div>