<div class="row">
  <div class="col-md-12 column">
    <%= link_to "Funcionários", employers_path, class: "btn btn-default btn-block" %>
    <%= link_to "Uniforme", uniform_pieces_path, class: "btn btn-default btn-block" %>
  </div>
</div>

